@charset "utf-8";

/* noto-sans-kr-300 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* noto-sans-kr-100 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-kr-500 - korean */
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


/* cormorant-infant-regular - latin */
@font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/cormorant-infant-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-infant-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }




#section0>div:nth-of-type(1){
    position: relative;
    color: #30176b;
}
#section0 .tit div p{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -250px;
    opacity: 0;
    transition: opacity .5s;
}
#section0 .tit div p:nth-child(1){
    margin-left: -280px;
    margin-top: -280px;
  }
  #section0 .tit div p:nth-child(2){
    margin-left: -230px;
    margin-top: -230px;
  }
  #section0 .tit div p:nth-child(3){
    margin-left: -200px;
    margin-top: -200px;
  }

  #section0 div.line{
    position: relative;
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    top: 45%;
}
#section0 div.line p{
    font-size: 18px;
    color: #fff;
    letter-spacing: 3px;
}
#section0 div.line div{
    border-bottom: 1px solid #fff;
    width: 1500px;
}





#section1 .profile{
    width: 450px;
}
#section1 .profile p{
    padding-top: 20px;
    font-size: 28px;
    color: #000;
    font-weight: 500;
}
#section1 .profile p::first-line{
    font-size: 20px;
}
#section1 .info{
    display: flex;
    width: 1100px;
    justify-content: space-between;
}
#section1 .info .pwrap, #section1 .info .skill{
    text-align: left;
    color: #000;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 2.2;
}
#section1 .info .pwrap p, #section1 .info .skill p{
    font-family: 'Cormorant Infant';
    font-weight: 700;
}
#section1 .info .pwrap .pline, #section1 .info .pline{
    border-bottom: 1px solid #000;
    width: 400px;
    margin: 5px 0 15px 0;
}
#section1 .info .pwrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#section1 .info .skill img{
    width: 85%;
}
#section1 .info .skill>.pline{
    width: 470px;
}




#section2{
    position: relative;
}


#section2 #slide1{
    background-image: url(../images/mcm.jpg);
    background-position: center top;
    background-size: 100% auto;
}
#section2 #slide1 p.button_mood a,
#section2 #slide1 p.button_mo a,
#section2 #slide1 p.button a{
    color: #000;
    border: 1px solid #000;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 250px;
}
#section2 #slide1 p.button_mood a:hover,
#section2 #slide1 p.button_mo a:hover,
#section2 #slide1 p.button a:hover{
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 250px;
}
#section2 #slide1 p.button_mo a{
    margin-left: 480px;
}
#section2 #slide1 p.button_mo a:hover{
    margin-left: 480px;
}
#section2 #slide1 p.button a{
    margin-left: 710px;
}
#section2 #slide1 p.button a:hover{
    margin-left: 710px;
}




#section2 #slide2{
    background-image: url(../images/logen.jpg);
    background-position: center top;
    background-size: 100% auto;
}
#section2 #slide2 p.button_mood a,
#section2 #slide2 p.button_mo a,
#section2 #slide2 p.button a{
    color: #fff;
    border: 1px solid #fff;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 250px;
}
#section2 #slide2 p.button_mood a:hover,
#section2 #slide2 p.button_mo a:hover,
#section2 #slide2 p.button a:hover{
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 250px;
}
#section2 #slide2 p.button_mo a{
    margin-left: 480px;
}
#section2 #slide2 p.button_mo a:hover{
    margin-left: 480px;
}
#section2 #slide2 p.button a{
    margin-left: 710px;
}
#section2 #slide2 p.button a:hover{
    margin-left: 710px;
}



#section2 #slide3{
    background-image: url(../images/illy.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat:no-repeat;
}
#section2 #slide3 p.button_mood a,
#section2 #slide3 p.button a{
    color: #fff;
    border: 1px solid #fff;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 480px;
}
#section2 #slide3 p.button_mood a:hover,
#section2 #slide3 p.button a:hover{
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 480px;
}
#section2 #slide3 p.button a{
    margin-left: 710px;
}
#section2 #slide3 p.button a:hover{
    margin-left: 710px;
}



#section2 #slide4{
    background-image: url(../images/subway.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat:no-repeat;
}
#section2 #slide4 p.button a{
    color: rgb(0, 70, 6);
    border: 1px solid rgb(0, 70, 6);
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 710px;
}
#section2 #slide4 p.button a:hover{
    color: #fff;
    border: 1px solid rgb(0, 70, 6);
    background-color: rgb(0, 70, 6);
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 710px;
}




#section2 #slide5{
    background-image: url(../images/iloom.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat:no-repeat;
}
#section2 #slide5 p.button a{
    color: rgb(61, 32, 12);
    border: 1px solid rgb(61, 32, 12);
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 710px;
}
#section2 #slide5 p.button a:hover{
    color: #fff;
    border: 1px solid rgb(61, 32, 12);
    background-color: rgb(61, 32, 12);
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 91%;
    margin-left: 710px;
}






#section3 #slide1{
    background-image: url(../images/mualibak.jpg);
}
#section3 #slide2{
    background-image: url(../images/nowtrance.jpg);
}
#section3 #slide3{
    background-image: url(../images/korea.jpg);
}
#section3 #slide4{
    background-image: url(../images/bg.jpg);
}
#section3 #slide4 p{
    overflow-y: scroll;
    height: 850px;
    width: 1420px;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 400px;
    padding-right: 15px;
    box-sizing: border-box;
}
#section3 #slide5 p img{
    width: 100%;
    display: block;
}

#section3 #slide6{
    background-image: url(../images/tem_bg.jpg);
}
#section3 #slide6>div{
    display: flex;
    width: 1600px;
    margin: 120px 50px 50px 300px;
}

#section3 #slide6 p:nth-of-type(1){
    margin-right: 30px;
}
#section3 #slide6 p:nth-of-type(1) img{
    width: 105%;
}

#section3 #slide6 p:nth-of-type(2) img{
    width: 105%;
}

#section3 #slide6 p:nth-of-type(3){
    margin-left: -28px;
}
#section3 #slide6 p:nth-of-type(3) img{
    width: 78.8%;
}


#section3 #slide6>div>div{
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 690px;
    margin-left: -42px;
    text-align: left;
}


#section3 #slide6>div>div p:nth-of-type(1) img{
    width: 102.3%;
}
#section3 #slide6>div>div p:nth-of-type(2) img{
    width: 93.5%;
}


#section3 #slide7{
    background-image: url(../images/tem_portfolio.jpg);
    position: relative;
}
#section3 #slide7 div{
    text-align: left;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -500px;
}
#section3 #slide7 div p{
    font-size: 16px;
    color: #000;
}



#section3 #slide7 p.button a{
    color: #000;
    border: 1px solid #000;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 4%;
    left: 50;
    text-align: center;
    line-height: 1.3;
    margin-left: 970px;
}
#section3 #slide7 p.button a:hover{
    color: #fff;
    border: 1px solid #000;
    background-color: #000;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 18px 15px;
    position: absolute;
    top: 4%;
    margin-left: 970px;
}
#section3 #slide7 p.button:nth-of-type(2) a{
    margin-left: 1200px;
}
#section3 #slide7 p.button:nth-of-type(2) a:hover{
    margin-left: 1200px;
}