@charset "utf-8";

  /* noto-sans-kr-100 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-kr-300 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-kr-500 - korean */
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
    /* noto-sans-kr-700 - korean */
    @font-face {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        src: local(''),
             url('../fonts/noto-sans-kr-v21-korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
             url('../fonts/noto-sans-kr-v21-korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }


body,header,section,nav,aside,footer,address,small,fieldset,legend,input,p,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,img,a{margin: 0; padding: 0; border: none;}
li{list-style: none;}
img{vertical-align: bottom;}
a{
    text-decoration: none;
    color: inherit;
}
input{
    font-size: inherit;
    color: inherit;
}
body{
    font-size: 18px;
    font-family:'Noto Sans KR',"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",Dotum,"돋움",sans-serif,'Nanum Myeongjo';
    color: #000;
}
address{
    font-style: normal;
}
small{
    font-size: inherit;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
