@charset "utf-8";


.center{
    width: 1600px;
    margin: 0 auto;
}
header .center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1600px;
    padding: 45px 0;
}
header .center h1{
    line-height: 0;
}
header .center .gnb ul{
    display: flex;
    width: 650px;
    justify-content: space-between;
    box-sizing: border-box;
}
header .center .util ul{
    display: flex;
    width: 90px;
    justify-content: space-between;
}
header .center .util li img{
    width: 28px;
}

.visual{
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 796px;
    min-width: 1800px;
    position: relative;
}
.visual .hash{
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    color: #6a4422;
    line-height: 2.3;
}
.visual .hash a{
    display: block;
    width: 175px;
    height: 45px;
    background-color: #fff;
    border-radius: 22.5px;
    opacity: 0.7;
}

#container .search{
    text-align: center;
    position: relative;
}
#container .search h2{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    color: #363636;
    font-size: 38px;
    font-weight: 400;
}
#container .search div input{
    outline: none;
    width: 700px;
    height: 70px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    text-indent: 50px;
    font-size: 20px;
}
#container .search div img{
    position: absolute;
    left: 50%;
    margin-left: 280px;
    top: 81%;
    cursor: pointer;
}

#container .table{
    margin: 80px 0 120px;
    min-width: 1600px;
    text-align: center;
}


 
#container .landing h3{
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 5px;
}
#container .landing p{
    font-weight: 100;
}
#container .landing a{
    display: block;
    width: 170px;
    height: 45px;
    border: 1px solid #000;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2.5px;
    text-align: center;
    line-height: 2.8;
}
#container .landing a:hover{
    display: block;
    width: 170px;
    height: 45px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2.5px;
    text-align: center;
    line-height: 2.8;
}


#container .landing .lan1{
    background-image: url(../images/sub_ban01.jpg);
    background-position: left top;
    min-width: 1800px;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}
#container .landing .lan1 div{
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 0;
    width: 640px;
    text-align: center;
    color: #624a3b;
}
#container .landing .lan1 div a{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #624a3b;
}
#container .landing .lan1 div a:hover{
    border: 1px solid #624a3b;
    background-color: #624a3b;
    color: #fff;
}


#container .landing .lan2{
    background-image: url(../images/sub_ban02.jpg);
    background-position: left top;
    min-width: 1800px;
    background-repeat: no-repeat;
    height: 640px;
    position: relative;
}
#container .landing .lan2 div{
    position: absolute;
    top: 50%;
    margin-top: -120px;
    width: 640px;
    left: 0;
    margin-left: 640px;
    text-align: center;
    color: #000;
}
#container .landing .lan2 h3{
    line-height: 1.3;
}
#container .landing .lan2 div a{
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #000;
}
#container .landing .lan2 div a:hover{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}



#container .landing .lan3{
    background-image: url(../images/sub_ban03.jpg);
    background-position: left top;
    min-width: 1800px;
    background-repeat: no-repeat;
    height: 800px;
    /* position: relative; */
}
#container .landing .lan3 div.center{
    /* position: absolute; */
    margin: 0 auto;
    width: 280px;
    /* top: 50%;
    margin-top: -110px;
    left: 0; */
    padding-top: 300px;
    margin-right: 150px;
    text-align: center;
    color: #fff;
}
#container .landing .lan3 h3{
    line-height: 1.3;
}
#container .landing .lan3 div a{
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #fff;
}
#container .landing .lan3 div a:hover{
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
}



#container .landing .lan4{
    background-image: url(../images/sub_ban04.jpg);
    background-position: left top;
    min-width: 1800px;
    background-repeat: no-repeat;
    height: 640px;
    position: relative;
}
#container .landing .lan4 div{
    position: absolute;
    top: 50%;
    margin-top: -80px;
    width: 640px;
    left: 0;
    margin-left: 640px;
    text-align: center;
    color: rgb(90, 39, 39);
}
#container .landing .lan4 h3{
    line-height: 1.3;
}
#container .landing .lan4 div a{
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid rgb(90, 39, 39);
}
#container .landing .lan4 div a:hover{
    border: 1px solid rgb(90, 39, 39);
    background-color: rgb(90, 39, 39);
    color: #fff;
}


#container .best{
    margin-top: 200px;
    min-width: 1800px;
}
#container .best h4{
    font-size: 20px;
    font-weight: 400;
    color: #666;
    padding-bottom: 20px;
}
#container .best .best_list{
    display: flex;
    justify-content: space-between;
    /* width: 1600px; */
    min-width: 1600px;
}
#container .best .best_list p{
    padding: 15px 0;
    cursor: pointer;
}
#container .best .best_list p::first-line{
    font-size: 14px;
    color: #848484;
}
#container .best .best_list strong{
    cursor: pointer;
}

footer{
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 80px;
    border-top: 1px solid #c4c4c4;
    width: 1800px;
    font-size: 14px;
    font-weight: 300;
    color: #848484;
    min-width: 1800px;
}
footer .foot{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 1600px;
    min-width: 1600px;
}
footer .foot .footer_gnb{
    display: flex;
    width: 440px;
    justify-content: space-between;
    box-sizing: border-box;
}
footer .foot .footer_gnb>ul>li>a{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #363636;
    padding-bottom: 20px;
}
footer .foot .footer_gnb>ul:nth-of-type(2){
    padding-left: 25px;
}
footer .foot .footer_gnb ul ul li{
    padding-bottom: 15px;
}
footer .foot>div:nth-of-type(1){
    border-right: 1px solid #c4c4c4;
    height: 200px;
}
footer .foot address{
    line-height: 2;
}
footer .foot address p{
    padding-top: 20px;
    display: flex;
    width: 80px;
    justify-content: space-between;
}
