@charset "utf-8";

/* noto-sans-kr-300 - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* noto-sans-kr-regular - korean */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/noto-sans-kr-v21-korean-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/noto-sans-kr-v21-korean-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



/* cormorant-infant-regular - latin */
@font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/cormorant-infant-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-infant-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cormorant-infant-500 - latin */
  @font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/cormorant-infant-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-infant-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cormorant-infant-600 - latin */
  @font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/cormorant-infant-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-infant-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* cormorant-infant-700 - latin */
  @font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/cormorant-infant-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/cormorant-infant-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

 

body,header,section,nav,aside,footer,address,fieldset,legend,input,p,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,img,a{margin: 0; padding: 0; border: none;}

li{list-style: none;}
img{vertical-align: bottom;}
a{
    text-decoration: none;
    color: inherit;
}
/* a:hover{
    color: #E30613;
} */
input{
    font-size: inherit;
    color: inherit;
}
body{
    font-size: 16px;
    font-family:'Noto Sans KR',"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",Dotum,"돋움",sans-serif;
    color: #000;
    font-weight: 300;
}
address{
    font-style: normal;
}
small{
    font-size: inherit;
}
.blind {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}