@charset "utf-8";


header,
.main_collection h3,
.main_collection p,
.mw h3,
.main_classic h3,
.main_story div h3,
.tit1 h2,
.tit2 h2,
.tit3 h2,
.col1_style h2,
.col2_tit1 div h2,
.col2_tit2 div h2,
.col2_tit3 h2,
.sub_center .sub_tit1 h2,
.sub_center div:nth-of-type(2) div>h2,
.sub_center div:nth-of-type(3) div>h2,
.sub_center div:nth-of-type(4) div>h2 {
    font-family: 'Cormorant Infant';
    font-weight: 400;
}


.center {
    margin: 0 auto;
    width: 1600px;
}


/* main */
header .center {
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1600px;
    justify-content: space-between;
    padding: 20px 160px;
    box-sizing: border-box;
}

header h1 img {
    width: 80px;
}

header .gnb ul {
    display: flex;
    color: #fff;
    font-size: 20px;
}

header .gnb ul li {
    padding-right: 50px;
    font-weight: 400;
}

header .gnb ul li:last-child {
    padding-right: 0;
}

header .util ul {
    display: flex;
}

header .util ul li {
    padding-right: 40px;
}

header .util ul li:last-child {
    padding-right: 0;
}


.visual a img {
    width: 100%;
    min-width: 1600px;
}


.main_list ul {
    display: flex;
    justify-content: space-between;
    min-width: 1600px;
    margin-top: 50px;
}

/* .main_list li a {
    display: block;
} */

/* .main_list li a img {
    width: 100%;
} */

.main_list ul li {
    padding-right: 6px;
    position: relative;
}

/* .main_list ul li:last-child {
    padding-right: 0;
} */

.main_list li p {
    text-align: center;
    width: 300px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -150px;
}


.main_collection {
    background-color: #000;
    width: 100%;
    min-width: 1600px;
    margin-top: 200px;
}

.main_collection>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 110px;
}

.main_collection>div div+p img {
    width: 100%;
}

.main_collection>div div {
    margin-right: 122px;
    box-sizing: border-box;
}

.main_collection>div div {
    color: #fff;
    text-align: center;
}

.main_collection div div h3 {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 50px;
}

.main_collection div div p:nth-of-type(1) {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 30px;
}

.main_collection div div p:nth-of-type(1) span {
    font-size: 15px;
    display: block;
}

.main_collection div div p:nth-of-type(2) a {
    display: block;
    border: 1px solid #fff;
    padding: 15px 30px;
    width: 130px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}

.main_collection div div p:nth-of-type(2) a:hover {
    display: block;
    background-color: #fff;
    color: #000;
    padding: 15px 30px;
    width: 130px;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}


.mw ul {
    margin-top: 200px;
    display: flex;
    min-width: 1600px;
    justify-content: space-between;
}

.mw ul li {
    width: 50%;
}

.mw ul li a {
    display: block;
    height: 1100px;
    background-repeat: no-repeat;
    /* background-size: 100% auto; */
    background-position: center top;

}

.mw ul li:first-child>a {
    background-image: url(../images/main/main_mens_black.jpg);
}

.mw ul li:last-child>a {
    background-image: url(../images/main/main_womens_black.jpg);
}

.mw ul li:first-child>a:hover {
    background-image: url(../images/main/main_mens_color.jpg);
}

.mw ul li:last-child>a:hover {
    background-image: url(../images/main/main_womens_color.jpg);
}

.mw li div {
    text-align: center;
}

.mw li div h3 {
    font-weight: 400;
    font-size: 35px;
    padding: 15px 0;
}

.mw li div p a {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 45px;
    border: 1px solid #000;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 12px;
    box-sizing: border-box;
}

.mw li div p a:hover {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 45px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 12px;
    box-sizing: border-box;
}


.main_classic {
    margin-top: 150px;
    text-align: center;
    min-width: 1600px;
}

.main_classic h3 {
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
}

.main_classic p a {
    margin: 0 auto;
    border: 1px solid #000;
    width: 120px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 40px;
    display: block;
}

.main_classic p a:hover {
    margin: 0 auto;
    background-color: #000;
    width: 120px;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 15px 40px;
    display: block;
    color: #fff;
}

.main_classic ul {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    min-width: 1600px;
}

.main_classic ul li {
    width: 25%;
}

.main_classic ul li a {
    display: block;
    height: 478px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.main_classic ul li:nth-of-type(1) a {
    background-image: url(../images/main/main_pro1.jpg);
}

.main_classic ul li:nth-of-type(2) a {
    background-image: url(../images/main/main_pro2.jpg);
}

.main_classic ul li:nth-of-type(3) a {
    background-image: url(../images/main/main_pro3.jpg);
}

.main_classic ul li:nth-of-type(4) a {
    background-image: url(../images/main/main_pro4.jpg);
}

.main_classic ul li:nth-of-type(1) a:hover {
    background-image: url(../images/main/main_pro1_hover.jpg);
}

.main_classic ul li:nth-of-type(2) a:hover {
    background-image: url(../images/main/main_pro2_hover.jpg);
}

.main_classic ul li:nth-of-type(3) a:hover {
    background-image: url(../images/main/main_pro3_hover.jpg);
}

.main_classic ul li:nth-of-type(4) a:hover {
    background-image: url(../images/main/main_pro4_hover.jpg);
}


.main_story {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: space-between;
    min-width: 1600px;
}

.main_story>p {
    padding-right: 10px;
}

.main_story>p img {
    width: 100%;
}

.main_story div img {
    width: 100%;
}

.main_story div h3 {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    padding: 30px 0 10px;
}

.main_story div p {
    text-align: center;
    padding-bottom: 30px;
}

.main_story div p:nth-of-type(2) a {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 15px 40px;
    width: 120px;
}

.main_story div p:nth-of-type(2) a:hover {
    display: block;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 15px 40px;
    width: 120px;
}




/* collection1 */
.center_black {
    width: 1600px;
    margin: 0 auto;
}

header .center_black {
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 1600px;
    justify-content: space-between;
    padding: 20px 160px;
    box-sizing: border-box;
}

header h1 img {
    width: 80px;
}

header .gnb_black ul {
    display: flex;
    font-weight: 600;
    font-size: 20px;
}

header .gnb_black ul li {
    padding-right: 50px;
}

header .gnb_black ul li:last-child {
    padding-right: 0;
}

header .util_black ul {
    display: flex;
}

header .util_black ul li {
    padding-right: 40px;
}

header .util_black ul li:last-child {
    padding-right: 0;
}

header+.col1_line {
    border-bottom: 8px solid #000;
    padding-top: 125px;
    min-width: 1600px;
    line-height: 0;
}

.col1_visual img {
    width: 100%;
    min-width: 1600px;
}

.tit1 {
    background-color: #000;
    height: 285px;
    color: #fff;
    text-align: center;
    padding-top: 90px;
    box-sizing: border-box;
    min-width: 1600px;
}

.tit1 h2 {
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 15px;
}

.tit1 p {
    font-size: 16px;
    font-weight: 300;
}


.tit2 {
    padding-top: 200px;
    text-align: center;
    min-width: 1600px;
}

.tit2 h2 {
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 15px;
}

.tit2 p {
    font-size: 16px;
    font-weight: 300;
}

.tit2 a {
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #000;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.tit2 a:hover {
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #000;
    color: #fff;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.tit3 ul:first-child {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    min-width: 1600px;
}


.tit3 ul:first-child li:nth-child(1),
.tit3 ul:first-child li:nth-child(2) {
    width: 530px;
    height: 530px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left top;
    /* margin-right: 5px; */
}

.tit3 ul:first-child li:nth-child(1) {
    background-image: url(../images/collection1/col_pro1.jpg);
}

.tit3 ul:first-child li:nth-child(2) {
    background-image: url(../images/collection1/col_pro2.jpg);
}

.tit3 ul:first-child li:nth-child(1):hover {
    background-image: url(../images/collection1/col_pro1_ho.jpg);
}

.tit3 ul:first-child li:nth-child(2):hover {
    background-image: url(../images/collection1/col_pro2_ho.jpg);
}

.tit3 ul:first-child li:nth-child(3) {
    width: 530px;
    height: 1060px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
}

.tit3 ul:first-child li:nth-child(3) {
    background-image: url(../images/collection1/col_pro3.jpg);
}

.tit3 div {
    position: absolute;
    left: 160px;
    top: 2300px;
    width: 700px;
    height: 200px;
}

.tit3 div h2 {
    font-size: 45px;
    font-weight: 400;
    padding-bottom: 20px;
}

.tit3 div p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
}

.tit3 ul:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    min-width: 1600px;
    margin-top: 5px;
    /* margin-bottom: 7px; */
}

.tit3 ul:nth-of-type(2) li {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
}

.tit3 ul:nth-of-type(2) li:nth-child(1) {
    width: 1062px;
    height: 530px;
    margin-right: 5px;
    background-image: url(../images/collection1/col_pro4.jpg);
}

.tit3 ul:nth-of-type(2) li:nth-child(2) {
    width: 530px;
    height: 530px;
    background-image: url(../images/collection1/col_pro5.jpg);
}


.tit3 ul:nth-of-type(3) {
    display: flex;
    justify-content: flex-end;
    min-width: 1600px;
    margin-top: 5px;
}

.tit3 ul:nth-of-type(3) li {
    width: 530px;
    height: 530px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
}

.tit3 ul:nth-of-type(3) li:nth-child(1) {
    margin-right: 7px;
    background-image: url(../images/collection1/col_pro6.jpg);
}

.tit3 ul:nth-of-type(3) li:nth-child(2) {
    background-image: url(../images/collection1/col_pro7.jpg);
}

.tit3 ul:nth-of-type(3) li:nth-child(1):hover {
    background-image: url(../images/collection1/col_pro6_ho.jpg);
}

.tit3 ul:nth-of-type(3) li:nth-child(2):hover {
    background-image: url(../images/collection1/col_pro7_ho.jpg);
}


.tit3 ul:nth-of-type(4) {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    min-width: 1600px;
}

.tit3 ul:nth-of-type(4) li {
    width: 530px;
    height: 530px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    background-color: #f7f7f7;
}

.tit3 ul:nth-of-type(4) li:nth-child(1) {
    background-image: url(../images/collection1/col_pro8.jpg);
}

.tit3 ul:nth-of-type(4) li:nth-child(2) {
    background-image: url(../images/collection1/col_pro9.jpg);
}

.tit3 ul:nth-of-type(4) li:nth-child(1):hover {
    background-image: url(../images/collection1/col_pro8_ho.jpg);
}

.tit3 ul:nth-of-type(4) li:nth-child(2):hover {
    background-image: url(../images/collection1/col_pro9_ho.jpg);
}


.col1_style {
    background-color: #000;
    width: 100%;
    height: 1200px;
    color: #fff;
    text-align: center;
    padding-top: 170px;
    box-sizing: border-box;
    min-width: 1600px;
}

.col1_style div h2 {
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 15px;
    min-width: 1600px;
}

.col1_style div p {
    font-size: 16px;
    font-weight: 300;
}

.col1_style ul {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    min-width: 1600px;
}

.col1_style ul li {
    padding-right: 5px;
}

.col1_style ul li:last-child {
    padding-right: 0;
}

.col1_style ul li img {
    width: 100%;
}

.bottom_pro {
    margin-bottom: 100px;
}

.bottom_pro ul li a img {
    width: 100%;
    min-width: 1600px;
}


/* collection2 */
.col2_visual img {
    padding-top: 125px;
    margin-bottom: 167px;
    width: 100%;
    min-width: 1600px;
}

.col2_tit1 {
    background-image: url(../images/collection2/col2_banner2.jpg);
    width: 1600px;
    height: 1576px;
    min-width: 1600px;
    margin-bottom: 200px;
}
.col2_tit1 div{
    margin-left: 805px;
}
.col2_tit1 div h2 {
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 45px;
}

.col2_tit1 div p {
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.4;
}




.col2_tit2 {
    display: flex;
    align-items: center;
    min-width: 1600px;
}

.col2_tit2 img {
    width: 800px;
    height: 750px;
}

.col2_tit2 div {
    text-align: center;
    padding-left: 161px;
    padding-right: 161px;
}

.col2_tit2 div h2 {
    font-size: 48px;
    padding-bottom: 20px;
}

.col2_tit2 div p {
    font-size: 16px;
    line-height: 1.4;
}

.col2_tit2 div a {
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #000;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
}

.col2_tit2 div a:hover {
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #000;
    color: #fff;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
}



.col2_tit3>div:first-child {
    text-align: center;
    margin: 166px 0 85px;
    min-width: 1600px;
}

.col2_tit3 div:first-child h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.col2_tit3 div:first-child p {
    font-size: 18px;
    line-height: 1.4;
}

.col2_tit3 div:first-child a {
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #000;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
}

.col2_tit3 div:first-child a:hover {
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #000;
    color: #fff;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
}




.col2_tit3_pro1>img,
.col2_tit3_pro2>img,
.col2_tit3_pro3>img {
    width: 800px;
    height: 875px;
}

.col2_tit3_pro1 {
    display: flex;
    align-items: center;
    min-width: 1600px;
}

.col2_tit3_pro1 div {
    text-align: center;
    padding-left: 245px;
}

.col2_tit3_pro1 div img,
.col2_tit3_pro2 div img,
.col2_tit3_pro3 div img {
    width: 383px;
    height: 383px;
    padding-bottom: 60px;
}

.col2_tit3_pro1 div a,
.col2_tit3_pro2 div a,
.col2_tit3_pro3 div a {
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #000;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.col2_tit3_pro1 div a:hover,
.col2_tit3_pro2 div a:hover,
.col2_tit3_pro3 div a:hover {
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #000;
    color: #fff;
    width: 120px;
    font-size: 12px;
    padding: 15px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.col2_tit3_pro2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    min-width: 1600px;
}

.col2_tit3_pro2 div {
    text-align: center;
    padding-right: 230px;
}

.col2_tit3_pro3 {
    display: flex;
    align-items: center;
    min-width: 1600px;
}

.col2_tit3_pro3 div {
    text-align: center;
    padding-left: 245px;

}



.col2_list ul {
    display: flex;
    justify-content: space-between;
    min-width: 1600px;
    margin: 167px 0 85px 0;
}

/* .col2_list li a {
    display: block;
} */

/* .col2_list li a img {
    width: 100%;
} */

.col2_list ul li {
    padding-right: 6px;
    position: relative;
    /* overflow: hidden; */
}

/* .col2_list ul li:last-child {
    padding-right: 0;
} */

.col2_list li p {
    text-align: center;
    width: 300px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -150px;
}





/* sub */
header+.sub_line {
    border-bottom: 8px solid #000;
    padding-top: 125px;
    min-width: 1600px;
    line-height: 0;
}
.sub {
    display: flex;
    min-width: 1600px;
}
.sub .sub_pro {
    margin-top: 80px;
}
.sub_pro p:nth-of-type(2) img{
    margin-top: 13px;
}
.sub .sub_protxt {
    margin-left: 100px;
    margin-top: 110px;
}
.sub .sub_protxt h2::first-line {
    font-size: 15px;
    font-weight: normal;
}
.sub .sub_protxt h2 {
    font-size: 30px;
}

.sub .sub_protxt>p:nth-of-type(1) {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.sub .sub_protxt>p:nth-of-type(2) {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 45px;
}

.sub .sub_protxt ul {
    display: flex;
    padding-top: 20px;
    
}
.sub .sub_protxt ul li.on{
    opacity: 0.5;
}
.sub .sub_protxt ul li{
    margin-right: 5px;
}
.sub .sub_protxt ul li:last-child{
    margin-right: 0;
}
.sub .sub_protxt ul li img {
    width: 100%;
}

.sub .sub_protxt p:nth-of-type(4) {
    margin-top: 70px;
    background-color: #000;
    width: 544px;
    height: 85px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-top: 22px;
    box-sizing: border-box;
}

.sub .sub_protxt>div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
}

.sub .sub_protxt>div:nth-of-type(1) p {
    margin-top: 6px;
    border: 1px solid #000;
    width: 268px;
    height: 75px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 22px;
    box-sizing: border-box;
}

.sub .sub_sideinfo {
    margin-top: 60px;
}

.sub .sub_sideinfo div {
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-size: 16px;
    width: 544px;
    justify-content: space-between;
}

.sub .sub_sideinfo div>img {
    width: 11px;
    height: 6px;
    padding-right: 10px;
}



.sub_center .sub_tit1 {
    margin-top: 300px;
    text-align: center;
    min-width: 1600px;
}

.sub_center .sub_tit1>h2 {
    font-size: 50px;
    padding-bottom: 15px;
}

.sub_center .sub_tit1>p {
    padding-bottom: 50px;
}

.sub_center .sub_tit1>img {
    width: 100%;
}



.sub_center div:nth-of-type(2) {
    background-image: url(../images/sub/sub_sub2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 907px;
    display: flex;
    margin-top: 200px;
    min-width: 1600px;
}

.sub_center div:nth-of-type(2) div {
    margin:300px 0 0 1000px;
}

.sub_center div:nth-of-type(2) div>h2 {
    font-size: 66px;
}

.sub_center div:nth-of-type(2) div div {
    border-left: 1px solid #000;
    height: 205px;
    margin: 30px 0;
    margin-left: 50px;
}

 
 .sub_center div:nth-of-type(3) {
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
    align-items: center;
    min-width: 1600px;
}

.sub_center div:nth-of-type(3) div {
    margin-right: 150px;
    text-align: right;
}

.sub_center div:nth-of-type(3) img {
    width: 666px;
    height: 666px;
}

.sub_center div:nth-of-type(3) div>h2 {
    font-size: 58px;
}

.sub_center div:nth-of-type(3) div div {
    border-right: 1px solid #000;
    height: 205px;
    margin: 30px 0;
    margin-right: 50px;
} 


.sub_center div:nth-of-type(4) {
    display: flex;
    justify-content: flex-start;
    margin-top: 200px;
    align-items: center;
    min-width: 1600px;
    margin-bottom: 200px;
}
 
.sub_center div:nth-of-type(4) div {
    margin-left: 150px;
}

.sub_center div:nth-of-type(4) img {
    width: 666px;
    height: 666px;
}

.sub_center div:nth-of-type(4) div>h2 {
    font-size: 58px;
}

.sub_center div:nth-of-type(4) div div {
    border-left: 1px solid #000;
    height: 205px;
    margin: 30px 0;
    margin-left: 50px;
}


.sub_center>p:nth-of-type(1) img {
    width: 100%;
    min-width: 1600px;
}
 
.sub_center>p:nth-of-type(2) {
    margin-left: 133px;
    margin-top: 150px;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
}

 .sub_center>ul {
    display: flex;
    justify-content: flex-start;
    min-width: 1600px;
    padding-left: 133px;
    box-sizing: border-box;
}

.sub_center>ul li {
    padding-right: 5px;
}

.sub_center>ul li:last-child {
    padding-right: 0;
}

.sub_center>ul li img {
    width: 329px;
}

.sub_center>ul li p {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 150px;
}















/* footer */
footer .bottom {
    background-color: #000;
    width: 100%;
    height: 350px;
    /* margin-top: 150px; */
    color: #fff;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    min-width: 1600px;
}

footer .bottom>p img {
    width: 103px;
    padding-right: 150px;
}

footer .bottom nav {
    display: flex;
    width: 850px;
    justify-content: space-between;
}

footer .bottom nav>ul>li>a {
    display: block;
    font-weight: 300;
    padding-bottom: 20px;
}

footer .bottom nav ul ul li {
    font-weight: 100;
    line-height: 2.2;
    font-size: 15px;
}

footer .bottom nav ul ul li img {
    padding: 0 10px 4px 0;
}

footer>p {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    padding: 20px 0;
    box-sizing: border-box;
    min-width: 1600px;
}





@media screen and (min-width:1600px) {

    /* main */
    header .center {
        padding: 1.25vw 10%;
    }

    .main_collection {
        margin-top: 12.5vw;
    }

    .mw ul {
        margin-top: 12.5vw;
    }

    .mw ul li a {
        display: block;
        width: 100%;
    }

    .mw li div h3 {
        padding: 0.9375vw 0;
    }

    .main_classic {
        margin-top: 9.375vw;
    }

    .main_classic h3 {
        padding-bottom: 1.25vw;
    }

    .main_classic ul {
        padding-top: 3.125vw;
    }

    .main_classic ul li a {
        display: block;
        /* width: 100% */
    }

    .main_story {
        margin-top: 9.375vw;
        margin-bottom: 9.375vw;
    }

    .main_story>p {
        padding-right: 0.625%;
    }


    /* collection1 */
    header .center_black {
        padding: 1.25vw 10%;
    }

    .tit1 {
        height: 17.812vw;
        padding-top: 5.625vw;
        box-sizing: border-box;
    }

    .tit1 h2 {
        padding-bottom: 0.937vw;
    }

    .tit2 {
        padding-top: 12.5vw;
    }

    .tit2 h2 {
        padding-bottom: 0.937vw;
    }


    .tit3 ul:first-child {
        margin-top: 3.125vw;
    }

    .tit3 ul:first-child li:nth-child(1),
    .tit3 ul:first-child li:nth-child(2) {
        width: 33.1875%;
        height: 33.1875vw;
    }

    .tit3 ul:first-child li:nth-child(3) {
        width: 33.1875%;
        height: 66.2vw;
    }

    .tit3 div {
        position: absolute;
        left: 10%;
        top: 143.75vw;
        width: 43.75%;
        height: 12.5vw;
    }

    .tit3 div h2 {
        padding-bottom: 1.25vw;
    }

    .tit3 ul:nth-of-type(2) {
        margin-top: 0.3125vw;
    }

    .tit3 ul:nth-of-type(2) li:nth-child(1) {
        width: 66.375%;
        height: 33.1875vw;
        margin-right: 0.3125%;
    }

    .tit3 ul:nth-of-type(2) li:nth-child(2) {
        width: 33.1875%;
        height: 33.1875vw;
    }

    .tit3 ul:nth-of-type(3) {
        margin-top: 0.3125vw;
    }

    .tit3 ul:nth-of-type(3) li {
        width: 33.1875%;
        height: 33.1875vw;
    }

    .tit3 ul:nth-of-type(3) li:nth-child(1) {
        margin-right: 0.4375%;
    }

    .tit3 ul:nth-of-type(4) {
        margin-top: 0.3125vw;
    }

    .tit3 ul:nth-of-type(4) li {
        width: 33.1875%;
        height: 33.1875vw;
    }

    .col1_style {
        height: 75vw;
        padding-top: 10.625vw;
    }

    .col1_style div h2 {
        padding-bottom: 0.9375vw;
    }

    /* .col1_style ul {
        margin-top: 3.75vw;
    } */

    .col1_style ul li {
        padding-right: 0.3125%;
    }

    .col1_style ul li:last-child {
        padding-right: 0;
    }

    /* .bottom_pro {
        margin-bottom: 6.25vw;
    } */

    /* .bottom_pro ul li a img {
        width: 100%;
    } */


    /* collection2 */
    .col2_visual img {
        width: 100%;
    }

    .col2_tit2 img {
        width: 50%;
        height: 46.875vw;
    }

    .col2_tit2 div {
        text-align: center;
        padding-left: 10.0625%;
        padding-right: 10.0625%;
    }

    .col2_tit3>div:first-child {
        margin-top: 10.375vw;
        margin-bottom: 5.3125vw;
    }

    .col2_tit3_pro1>img,
    .col2_tit3_pro2>img,
    .col2_tit3_pro3>img {
        width: 50%;
        height: auto;
    }

    .col2_tit3_pro1 div {
        text-align: center;
        padding-left: 15.375%;
    }

    .col2_tit3_pro2 div {
        /* padding-right: 15.3125%; */
        padding-right: 14.375%;
    }

    .col2_tit3_pro3 div {
        padding-left: 15.375%;
    }

    /* .col2_list ul li {
        margin-right: 0.375%;
    } */

    /* .col2_list ul li:last-child {
        padding-right: 0;
    } */

    /* .col2_list li p {
        text-align: center;
        width: 300px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -150px;
    } */





    /* sub */
.sub_center .sub_tit1>h2 {
    font-size: 3.125vw;
    padding-bottom: 0.9375vw;
}

.sub_center .sub_tit1>p {
    padding-bottom: 3.125vw;
}


 .sub_center>ul {
    padding-left: 8.3125%;
    padding-right: 8.3125%;
}

.sub_center>ul li {
    padding-right: 0.3125%;
}

.sub_center>ul li:last-child {
    padding-right: 0;
}

.sub_center>ul li img {
    width: 100%;
}

.sub_center>ul li p {
    padding-top: 0.625vw;
    margin-bottom: 9.375vw;
}
.sub_center>p:nth-of-type(2){
    margin-left: 8.3125%;
    padding-bottom: 1.25vw;
}


    /* footer */

    /* footer {
        margin-top: 9.375vw;
    } */

    footer .bottom {
        height: 21.875vw;
        padding-top: 5vw;
        background-position: left top;
    }

    footer>p {
        padding: 1.25vw 0;
    }
}