@charset "utf-8";

.center header .gnb,
.center h2.main_tit,
.center .main_men p,
.center .main_women p,
.center .col1_tit,
.center .col2_tit,
.center .sub_tit{
    font-family: 'Cormorant Infant';
    font-weight: 400;
}
img{
    width: 100%;
}
.center{
    width: 100%;
    margin: 0 auto;
}

/* header */
.center header div:first-child{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3.2vw 4%;
    box-sizing: border-box;
}
.center header div:first-child h1{
    width: 12%;
}
.center header div:first-child .util{
    width: 30%;
}
.center header div:first-child .util ul{
    display: flex;
    justify-content: space-between;
}
.center header div:first-child .util ul li{
    width: 16.6%;
}
.center header div:first-child .util ul li img{
    display: block;
    width: 100%;
}
.center header .gnb{
    width: 100%;
    background-color: #000;
    height: 12vw;
    color: #fff;
    font-size: 3.6vw;
}
.center header .gnb ul{
    display: flex;
    width: 92%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 4vw;
}


/* main */
.center .main_visual ul{
    width: 100%;
}
.center .main_gretl{
    margin: 20vw 4%;
}
.center h2.main_tit{
    margin-top: 8vw;
    text-align: center;
    font-size: 8vw;
}
.center p.main_txt{
    text-align: center;
    margin: 0 auto;
    margin-top: 3vw;
    width: 86%;
    font-size: 3.4vw;
}
.center a.main_button{
    display: block;
    width: 65%;
    height: 10vw;
    border: 1px solid #000;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    padding-top: 2.5vw;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5vw;
}
/* .center a.main_button:hover{
    display: block;
    width: 65%;
    height: 10vw;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    padding-top: 2.5vw;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5vw;
} */
.center .main_holidays{
    margin: 20vw 0 50vw;
}
.center .main_pro img{
    display: block;
    width: 60%;
    margin: 0 auto;
}
.center .main_pro div{
    margin-top: 11vw;
}
.center .main_pro div a,
.center .main_pro div a:hover{
    margin-top: 2vw;
}
.center .main_men{
    background-image: url(../images/main/main_men.jpg);
    height: 120vw;
    width: 100%;
    background-size: 100% 100%;
    background-position: left top;
    margin-top: 20vw;
    color: #fff;
}
.center .main_men h2.main_tit{
    padding-top: 50%;
}
.center .main_men a.main_button{
    margin-top: 40vw;
    border-color: #fff;
}
.center .main_men a.main_button:hover{
    margin-top: 40vw;
    border-color: transparent;
    color: #000;
    background-color: #fff;
}
.center .main_women{
    background-image: url(../images/main/main_women.jpg);
    height: 120vw;
    width: 100%;
    background-size: 100% 100%;
    background-position: left top;
    color: #fff;
}
.center .main_women h2.main_tit{
    padding-top: 50%;
    margin-top: 0;
}
.center .main_women a.main_button{
    margin-top: 40vw;
    border-color: #fff;
}
/* .center .main_women a.main_button:hover{
    margin-top: 40vw;
    border-color: transparent;
    color: #000;
    background-color: #fff;
} */



/* collection1 */
.center .col1_visual2 div{
    background-color: #000;
    height: 50vw;
    color: #fff;
}
.center h2.col1_tit{
    padding-top: 9vw;
    text-align: center;
    font-size: 7vw;
}
.center p.col1_txt{
    text-align: center;
    margin: 0 auto;
    margin-top: 5vw;
    width: 86%;
    font-size: 3.2vw;
}
.center .col1_styling div h2{
    text-align: right;
    margin: 25vw 4% 0 0;
    padding-top: 0;
}
.center .col1_styling div p{
    text-align: right;
    margin: 0;
    margin-top: 5vw;
    width: 100%;
    padding-right: 4%;
    box-sizing: border-box;
}
.center .col1_styling img{
    margin-top: 10vw;
}
.center .col1_pattern img{
    width: 70%;
}
.center .col1_pattern img:first-child{
    margin: 20vw 4% 0 26%;
}
.center .col1_pattern h2.col1_tit{
    text-align: left;
    margin-left:4%;
    font-size: 6.5vw;
    padding-top: 12vw;
}
.center .col1_pattern p.col1_txt{
    text-align: left;
    padding-left: 4%;
    margin:5vw 0 12vw;
    width: 100%;
    font-size: 3.2vw;
    box-sizing: border-box;
}
.center .col1_pattern img:last-child{
    margin-left: 4%;
}
.center .col1_pro{
    margin: 25vw 0 20vw;
}
.center .col1_pro ul{
    display: flex;
    align-items: flex-end;
}


/* collection2 */
.center h2.col2_tit{
    text-align: center;
    font-size: 8vw;
}
.center p.col2_txt{
    text-align: center;
    margin: 0 auto;
    margin-top: 3vw;
    width: 86%;
    font-size: 3.4vw;
}
.center .col2_cubic{
    margin-top: 25vw;
}
.center .col2_cubic img{
    padding: 8vw 4% 30vw 4%;
    box-sizing: border-box;
}
.center .col2_gift h2.col2_tit{
    padding-bottom: 10vw;
}
.center .col2_gift>div:nth-of-type(1){
    display: flex;
}
.center .col2_gift>div:nth-of-type(1) div{
    margin-left: 4%;
}
.center .col2_gift>div:nth-of-type(1)>div>a img{
    width: 92%;
}
.center .col2_gift>div:nth-of-type(1) div div{
    border-left: 1px solid #000;
    height: 17vw;
    margin-top: 3vw;
}
.center .col2_gift>div:nth-of-type(1) div p.col2_txt{
    text-align: left;
    margin: 0;
    margin-top:3vw;
    font-size: 3vw;
}
.center .col2_gift>div:nth-of-type(1)>img{
    width: 46%;
}
.center .col2_gift>div:nth-of-type(2){
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5.3vw;
    padding: 0 4%;
    box-sizing: border-box;
}
.center .col2_gift>div:nth-of-type(2)>a{
    width: 49.5%;
}
.center .col2_gift> a img{
    width: 45.5%;
    margin: 1vw 0 0 4%;
}
.center .col2_lastban{
    background-image: url(../images/collection2/collection2_bottom_collection.jpg);
    height: 104.7vw;
    width: 100%;
    background-size: 100% 100%;
    background-position: left top;
    color: #fff;
    margin-top: 25vw;
}
.center .col2_lastban h2.col2_tit{
    padding-top: 50%;
    margin-top: 0;
}
.center .col2_lastban a{
    margin-top: 40vw;
    display: block;
    width: 65%;
    height: 10vw;
    border: 1px solid #fff;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    padding-top: 2.5vw;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 25vw;
}


/* sub */
.center .sub_thumbnal .thumb_price{
    margin: 0 4%;
}
.center .sub_thumbnal .thumb_price h2{
    padding-top: 7vw;
    font-weight: 400;
}
.center .sub_thumbnal .thumb_price>p:nth-of-type(1){
    color: #848484;
    padding-top: 2.5vw;
    font-size: 3vw;
}
.center .sub_thumbnal .thumb_price strong{
    display: block;
    font-size: 6vw;
    padding: 5vw 0 10vw;
}
.center .sub_thumbnal .thumb_price>p:nth-of-type(2){
    font-size: 3vw;
}
.center .sub_thumbnal .thumb_price ul:nth-of-type(1){
    display: flex;
    padding: 3vw 0 10vw;
}
.center .sub_thumbnal .thumb_price ul:nth-of-type(1) li{
    width: 30%;
    padding-right: 1%;
}
.center .sub_thumbnal ul:nth-of-type(1) li img{
    
}
.center .sub_thumbnal ul:nth-of-type(1) li.on img {
    opacity: 0.6;
}
.center .sub_thumbnal .thumb_price>div:nth-of-type(1) div:first-child a{
    display: block;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 14vw;
    font-size: 4.2vw;
    font-weight: 400;
    text-align: center;
    padding-top: 3.5vw;
    box-sizing: border-box;
}
.center .sub_thumbnal .thumb_price>div:nth-of-type(1) div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}
.center .sub_thumbnal .thumb_price>div:nth-of-type(1) div:nth-of-type(2) a{
    display: block;
    width: 49.5%;
    border: 1px solid #000;
    height: 14vw;
    font-size: 4.2vw;
    font-weight: 400;
    text-align: center;
    padding-top: 3.5vw;
    box-sizing: border-box;
}
.center .sub_thumbnal .thumb_price ul:nth-of-type(2){
    margin-top: 10vw;
}
.center .sub_thumbnal .thumb_price ul:nth-of-type(2) li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 3vw 0;
    border-top: 1px solid #000;
    font-size: 3vw;
}
.center .sub_thumbnal .thumb_price ul:nth-of-type(2) li p{
    margin-left: 4%;
}
.center .sub_thumbnal .thumb_price ul:nth-of-type(2) li:last-child{
    border-bottom: 1px solid #000;
}
.center .sub_thumbnal .thumb_price ul:nth-of-type(2) li img{
    width: 3%;
    height: 1.6vw;
    margin-right: 3%;
}

.center h2.sub_tit{
    text-align: center;
    font-size: 8vw;
}
.center p.sub_txt{
    text-align: center;
    margin: 0 auto;
    margin-top: 3vw;
    width: 86%;
    font-size: 3.4vw;
}

.center .sub_crushed{
    margin: 25vw 0;
}
.center .sub_crushed h2.sub_tit{
    text-align: left;
    margin-left: 4%;
    font-size: 10vw;
    line-height: 1;
}
.center .sub_cotton h2.sub_tit{
    font-size: 7vw;
}
.center .sub_cotton img:nth-of-type(1){
    width: 25%;
    margin: 0 auto;
    display: block;
    margin-top: 15vw;
}
.center .sub_cotton img:nth-of-type(2){
    margin-top: 8vw;
    padding: 0 4%;
    box-sizing: border-box;
}
.center .sub_visetos{
    margin: 30vw 0;
}
.center .sub_visetos p.sub_txt{
    margin-bottom: 10vw;
}

.center .sub_strap p.sub_txt{
    margin-bottom: 10vw;
}
.center ul.sub_table{
    margin: 25vw 4% 20vw 4%;
}
.center ul.sub_table li{
    border-bottom: 1px solid #000;
    padding: 3.5vw 0;
    font-size: 3vw;
    text-indent: 3%;
}
.center ul.sub_table li:last-child{
    border: none;
}























/* footer */
.center footer{
    background-color: #000;
    color: #fff;
}
.center footer .footer_list ul{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 3vw;
    padding: 8vw 0 10vw;
}
.center footer .footer_icon ul{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 6vw;
}
.center footer .footer_icon ul li:nth-of-type(1){
    width: 6%;
}
.center footer .footer_icon ul li{
    width: 10%;
}
.center footer p{
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 8vw;
    line-height: 1.8;
}


