@charset "utf-8";

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto,
header>div:first-child,
header>div:first-child>h1,
header .gnb,
header .util,
#container .goods,
#container .center>h2:last-child,
#container .center>h2.sns>img,
#container .art,
#container .main_brand .center,
#container .snslist,
#container .store,
footer .center nav ul li,
footer div:first-child,
footer .center p>img:first-child,
footer .line ul li:nth-child(2),
footer .line ul li:nth-child(6),
footer .line ul li:nth-child(7),
footer>div:last-child,
.event_depth,
.event_center,
.subtit_center,
.brand_depth,
.brand_visual,
.brand1 h2,
.brand2 h2,
.brand2 div,
.brand1 p:nth-of-type(2),
.brand2 ul:nth-of-type(1),
.brand3>div,
.brand3 h2,
.brand4 h2,
.brand3 ul li div div,
.brand4 ul,
.brand4 div:nth-of-type(1),
.brand4 div:nth-of-type(2),
.brand5,
.sub_depth,
.center .sub_product .right dl:nth-of-type(1),
.center .sub_product .select>div:nth-of-type(2),
.center .sub_product .right>div:nth-of-type(5)>a:nth-of-type(1),
.center .sub_product .right>div:nth-of-type(5)>a:nth-of-type(2),
.center .sub_product .right .select>div:nth-of-type(3),
.center .side_item>div div,
.center .side_item>div:first-child div,
.center .side_item ul li:nth-of-type(3),
.center .side_item ul li:nth-of-type(4),
.center .side_item ul li:nth-of-type(5),
.center .subpage .sub1 div:nth-of-type(2),
.center .subpage .sub3 ul:nth-of-type(1),
.center .subpage .sub4 ul,
.center .subpage .sub5,
.center .subpage .sub6>ul,
.center .subpage .sub7 div div img,
.center .subpage .sub9{
    display: none;
}


.top_mo,
.gnb_mo,
.util_mo,
#container .best_mo,
#container .best_mo p.heart_mo,
#container .art_mo,
#container .snslist_mo,
#container .store_mo,
footer .adr_mo,
.event_mo_bg,
.brand1_mo .brand_mo_visual,
.brand1_mo .brand_mo_logo,
.brand1 p.brand_mo_txt1,
.brand2 h2.brand_mo_tit2,
.brand3 h2.brand_mo_tit3,
.brand2 .brand_mo_list,
.brand4 h2.brand_mo_tit4,
.brand4 .brand_mo_taste,
.brand4>img,
.brand4+img,
.bx-wrapper,
.center .sub_product .right div.mo_sub_price,
.center .sub_product .right>p:nth-of-type(2),
.center .sub_product .right>div:nth-of-type(3),
.center .sub_product .right>div:nth-of-type(3) div.sub_pricemenu,
.center .sub_product .right>div:nth-of-type(3) div.sub_pricemenu div,
.center .sub_product .mo_line1,
.center .sub_product .mo_line2,
.center .subpage .sub1 .mo_submain,
.center .subpage .sub3 ul.mo_point,
.center .subpage .sub4 .mo_sub4,
.center .subpage .sub6 ul.mo_sub_product,
.center .subpage .sub7 div div img.mo_sub7_25ml,
.center .subpage .mo_sub9{
    display: block;
}



img {
    width: 100%;
}

.center{
    width: 100%;
    margin: 0 auto;
}

/* header */
header {
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    box-sizing: border-box;
}
header .top_mo{
    width: 10%;
}
header .top_mo h1{
    height: 10%;
    line-height: 0;
}
header .top_mo h1 a{
    display: block;
    height: 10%;
    line-height: 0;
}
header .util_mo{
    display: block;
    width: 17%;
}
header .util_mo ul{
    display: flex;
    justify-content: space-between;
}
header .util_mo ul li{
    width: 29.411%;
}

.gnb_mo ul {
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    height: 10vw;
    align-items: center;
    padding: 0 6%;
    font-weight: 400;
    font-size: 3vw;
    justify-content: space-between;
    box-sizing: border-box;
}



/* main_mo */
.visual ul li a {
    height: 170vw;
    background-repeat: no-repeat;
    min-width: 100%;
    background-size: 100% auto;
    background-position: left top;
}

.visual .v1 a {
    background-image: url(../images/mo/main_banner1_mo.jpg);
}

.visual .v2 a {
    background-image: url(../images/mo/main_banner2_mo.jpg);
}

.visual .v3 a {
    background-image: url(../images/mo/main_banner3_mo.jpg);
}

.bx-wrapper {
    min-width: 100%;
}


.best_mo {
    padding: 0 6%;
}

.best_mo h2 {
    padding: 15vw 0 8vw;
    font-size: 5vw;
    text-align: center;
    letter-spacing: 1px;
}

.best_mo ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    /* padding-top: 1vw; */
    margin-bottom: 35vw;
}

.best_mo>ul>li {
    padding: 3vw;
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.2);
    border-radius: 15px;
    position: relative;
    width: 42%;
    height: 42%;
}

.best_mo>ul>li:nth-of-type(3),
.best_mo>ul>li:nth-of-type(4) {
    display: none;
}

.best_mo li div {
    text-align: left;
    position: absolute;
}

.best_mo li div h3 {
    font-size: 3vw;
    font-weight: 300;
    padding-top: 5vw;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.best_mo div p {
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: -1px;
}

.best_mo p.heart_mo {
    position: absolute;
    width: 12.5%;
    height: 12vw;
    margin: 5vw 0 0 75%;
}


.long .bx-wrapper .bx-controls-direction {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.long .bx-wrapper .bx-controls-direction a {
    top: -175px;
}


#container .long {
    margin-top: 15vw;
}

#container .center .event_mo {
    font-size: 5vw;
}

#container .long .longban p a {
    height: 70vw;
    min-width: 100%;
    background-size: 100% auto;
    background-position: left top;
    background-repeat: no-repeat;
}

#container .long .longban .v1 a {
    background-image: url(../images/mo/event_banner1_mo.jpg);
}

#container .long .longban .v2 a {
    background-image: url(../images/mo/event_banner2_mo.jpg);
}

#container .long .longban .v3 a {
    background-image: url(../images/mo/event_banner3_mo.jpg);
}


#container .event {
    display: block;
    padding: 0 6%;
    width: 100%;
    background-size: 100% auto;
    box-sizing: border-box;
}

#container .event_mo {
    padding: 20vw 0 5vw;
}

#container .event p:last-child {
    padding-top: 3vw;
}


#container .center h2:nth-of-type(2) {
    padding: 20vw 0 5vw;
    font-size: 5vw;
}




#container .center .sns {
    font-size: 5vw;
    padding: 15vw 0 5vw;
}

#container .snslist_mo {
    width: 100%;
    padding: 0 6%;
    box-sizing: border-box;
}

#container .snslist_mo div{
    display: flex;
    justify-content: center;
    /* padding: 0 1.4% 1.4vw 0; */
}
#container .snslist_mo div a{
    padding-right: 1.4%;
}
#container .snslist_mo div:first-child{
    padding-bottom: 1.5vw;
}
#container .snslist_mo div a:last-child{
    padding-right: 0;
}
#container .snslist_mo+h2 {
    font-size: 5vw;
    padding: 15vw 0 5vw;
}



#container .store_mo {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6%;
    box-sizing: border-box;
    padding-bottom: 15vw;
    color: #fff;
}

#container .store_mo a{
    display: block;
    width: 100%;
    height: 34vw;
    background-size: 100% auto;
    background-position: left top;
    background-repeat: no-repeat;
    padding: 7vw 0 0 5%;
}
#container .store_mo a:hover{
    color: #fff;
}

#container .store_mo a:nth-child(1) {
    background-image: url(../images/mo/store1_mo.jpg);

}

#container .store_mo a:nth-child(2) {
    background-image: url(../images/mo/store2_mo.jpg);
}

#container .store_mo div h3 {
    font-size: 4.5vw;
    font-weight: 500;
    padding-bottom: 3vw;
    margin-top: 1.5vw;
}

#container .store_mo div p {
    font-size: 3.2vw;
    font-weight: 300;
}



/* event_mo */
.event_mo_bg{
    background-color: #9b2dce;
    width: 100%;
    padding-bottom: 15vw;
}
.event_mo_bg .event_step h2:first-child img{
    display: block;
    margin: 0 auto;
    margin-top: 15vw;
    margin-bottom: 10vw;
    width: 68%;
    height: 7.6vw;
}
.event_mo_bg .event_step ul li{
    margin-bottom: 15vw;
}
.event_mo_bg .event_step ul li:last-child{
    margin-bottom: 0;
}


.event_mo_bg .event_luck h2 img{
    display: block;
    margin: 0 auto;
    margin-top: 20vw;
    margin-bottom: 10vw;
    width: 45%;
    height: 7.6vw;
}
.event_mo_bg .event_luck ul li:first-child img{
    display: block;
    margin: 0 auto;
    padding-right: 5%;
    margin-bottom: 10vw;
    width: 71.2%;
    height: 70.7vw;
}
.event_mo_bg .event_luck ul li:nth-of-type(2) img{
    width: 88%;
    height: 43.6vw;
    margin: 0 auto;
    display: block;
    margin-bottom: 8vw;
}
.event_mo_bg .event_luck ul li:nth-of-type(3) img{
    display: block;
    margin: 0 auto;
    width: 88%;
    height: 46.7vw;
    margin-bottom: 20vw;
}

.event_mo_bg .event_event h2 img{
    display: block;
    margin: 0 auto;
    width: 62.6%;
    height: 6.2vw;
    margin-bottom: 6vw;
}
.event_mo_bg .event_event h2+a{
    display: block;
    margin: 0 auto;
    width: 43%;
    height: 12.8vw;
}


/* brand */
.brand1_mo .brand_mo_logo{
    width: 12%;
    margin: 0 auto;
    margin-top: 20vw;
    margin-bottom: 4.5vw;
}
.brand1{
    padding-bottom: 20vw;
}
.brand1 p:nth-of-type(1){
    font-size: 5vw;
    padding-bottom: 2vw;
}
.brand1 div:nth-of-type(1){
    margin-bottom: 2vw;
}
.brand1 p.brand_mo_txt1{
    font-size: 3.2vw;
    line-height: 1.8;
    letter-spacing: -1px;
    font-weight: 400;
}
.brand1 p.brand_mo_txt1 b{
    color: #E30613;
    font-style: normal;
}

.brand2 h2.brand_mo_tit2{
    font-size: 4.8vw;
    color: #E30613;
    font-weight: 500;
    letter-spacing: -1px;
}
.brand2 .brand_mo_list{
    padding-top: 3vw;
}
.brand2 .brand_mo_list img{
    width: 100%;
}

.brand3 h2.brand_mo_tit3{
    margin-top: 20vw;
    font-size: 4.8vw;
    color: #E30613;
    font-weight: 500;
    letter-spacing: -1px;
}
.brand3 ul li:nth-of-type(2n){
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 6%;
}
.brand3 ul li:nth-of-type(2n+1){
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 6%;
}
.brand3 li .tit{
    font-size: 4.2vw;
    font-weight: 400;
}
.brand3 li{
    margin-bottom: 10vw;
}
.brand3 ul li:nth-of-type(2n) div,
.brand3 ul li:nth-of-type(2n+1) div{
    text-align: left;
    padding-left: 2%;
    padding-top: 3vw;
    font-size: 3vw;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: -1px;
}
.brand4{
    margin-bottom: 20vw;
}
.brand4 h2.brand_mo_tit4{
    margin-top: 20vw;
    font-size: 4.8vw;
    color: #E30613;
    font-weight: 500;
    letter-spacing: -1px;
}
.brand4 .brand_mo_taste{
    letter-spacing: -1px;
    font-size: 3.2vw;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 8vw;
}
.brand4 .brand_mo_taste span{
    letter-spacing: -1px;
    font-size: 3.5vw;
}
.brand4+img{
    margin-bottom: 10vw;
}


/* sub_mo */
.center .sub_product {
    display: block;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}
.center .sub_product .left {
    display: flex;
    flex-wrap: wrap;
}
.center .sub_product .left .thumnal{
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
}
.center .sub_product .left .thumnal img{
    border-radius: 0;
    box-shadow: none;
}
.center .sub_product .left ul.side_thumnal{
    display: flex;
    width: 96%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 7vw;
    margin-bottom: 20vw;
    padding-right: 0;
}
.center .sub_product .left .side_thumnal li{
    margin-right: 1%;
    width: 100%;
}
.center .sub_product .left .side_thumnal li img{
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 0;
    width: 100%;
}
.center .sub_product .left .side_thumnal li.on img {
    border: 1px solid #E30613;
    border-radius: 10px;
}
.center .sub_product .right {
    margin: 0 auto;
    margin: 0 4%;
    width: 100%;
}

.center .sub_product .right h2 {
    border-bottom: none;
    padding-bottom: 4vw;
    font-size: 5vw;
    color: #000;
}
.center .sub_product .right .mo_sub_price span{
    font-size: 7vw;
    font-weight: 700;
    color: #E30613;
    padding-bottom: 2vw;
}
.center .sub_product .right div.mo_sub_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 3vw;
}
.center .sub_product .right .mo_sub_price ul{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-right: 3%;
}
.center .sub_product .right .mo_sub_price ul li{
    width: 38%;
    height: 6vw;
}
.center .sub_product .right .mo_sub_price ul li img{
    width: 100%;
}
.center .sub_product .right dl{
    font-weight: 400;
    margin-top: 3vw;
}
.center .sub_product .right dl dt{
    font-size: 3vw;
    width: 20%;
    color: #848484;
    font-weight: 400;
    padding-right: 3%;
}
.center .sub_product .right dl dd {
    font-size: 3vw;
    width: 60%;
    color: #000;
    margin-left: 25%;
}
.center .sub_product .right dl:nth-of-type(3) dd{
    color: #E30613;
    font-weight: 400;
}
.center .sub_product .right dl:nth-of-type(4) dd span{
    color: #E30613;
    font-weight: 400;
}
.center .sub_product .right dl:nth-of-type(5) dd{
    color: #E30613;
    font-weight: 400;
}
.center .sub_product .right .select {
    width: 100%;
    height: 14vw;
    background-color: #fff;
    font-size: 3vw;
    font-weight: 300;
    padding: 0;
    box-sizing: border-box;
    margin: 6vw 0 6vw;
}
.center .sub_product .right .select>div:nth-of-type(1) {
    display: flex;
}
.center .sub_product .right .select>div:nth-of-type(1)>p{
    padding-top: 1.8vw;
    font-weight: 400;
    font-size: 3.2vw;
}

.center .sub_product .right .select select {
    background-color: #fff;
    font-size: 3vw;
    flex-basis: 67%;
    height: 9vw;
    margin-left: 19%;
    text-indent: 20px;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    appearance: none;
    background-image: url(../images/sub/down_arrow.gif);
    background-repeat: no-repeat;
    background-size: 4.5% 1.5vw;
    background-position: 92% 3.6vw;
    outline: none;
}
.center .sub_product .right>div:nth-of-type(3){
    display: block;
    border-bottom: none;
    width: 100%;
}
.center .sub_product .right>div:nth-of-type(3)>div.sub_pricemenu>div{
    display: flex;
    align-items: center;
    width: 92%;
    justify-content: space-between;
    color: #000;
}
.center .sub_product .right>div:nth-of-type(3)>div.sub_pricemenu div:first-child div{
    font-weight: 400;
    font-size: 4vw;
    align-items: flex-end;
    margin-bottom: 4vw;
}
.center .sub_product .right>div:nth-of-type(3) div.sub_pricemenu div:first-child img{
    width: 3%;
    height: 2.8vw;
}
 .center .sub_product .right>div:nth-of-type(3)>div.sub_pricemenu>div:nth-of-type(2){
    margin-top: 5vw;
    align-items: center;
    border-bottom: none;
    padding-bottom: 5vw;
    font-size: 5vw;
    border-bottom: 1px solid #c4c4c4;
}
.center .sub_product .right>div:nth-of-type(3) div.sub_pricemenu div:nth-of-type(2) img{
    width: 30%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}



.center .sub_product .right>div:nth-of-type(3)>div:nth-of-type(2){
    display: flex;
    align-items: center;
    width: 92%;
    justify-content: space-between;
    color: #E30613;
    font-size: 4vw;
    font-weight: 500;
    border-bottom: none;
    padding: 3vw 0 1vw;
    margin: 5vw 0 3vw;
}
.center .sub_product .right>div:nth-of-type(3)>div:nth-of-type(2) strong{
    font-weight: 400;
}
.center .sub_product .right>div:nth-of-type(3)>div:nth-of-type(2) strong>span {
    font-weight: 700;
    font-size: 35px;
}


.center .sub_product .right>div:nth-of-type(5){
    width: 100%;
}
.center .sub_product .right>div:nth-of-type(5)>div {
    display: flex;
    align-items: center;
    width: 92%;
    justify-content: space-between;
}
.center .sub_product .right>div:nth-of-type(5)>div a:nth-of-type(1),
.center .sub_product .right>div:nth-of-type(5)>div a:nth-of-type(2) {
    border: 1px solid #c4c4c4;
    width: 49.5%;
    height: 13vw;
    border-radius: 5px;
    padding-top: 3.5vw;
    box-sizing: border-box;
    text-align: center;
    display: block;
    font-size: 3.8vw;
    font-weight: 500;
}

.center .sub_product .right>div:nth-of-type(5)>div a:nth-of-type(2) {
    border-style: none;
    background-color: #E30613;
    color: #fff;
}


.center .side_item {
    margin: 10vw 4% 10vw 4%;
}
.center .side_item>div {
    padding-bottom: 0;
}
.center .side_item>div p:first-child {
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -1px;
    padding-bottom: 4vw;
}



.center .mo_line1{
    border-top: 7px solid #eee;
    margin-top: 20vw;
}
.center .mo_line2{
    border-top: 7px solid #eee;
    margin-bottom: 20vw;
}
.center .side_item ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.center .side_item ul img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.2);
    /* margin-bottom: 3vw; */
}
.center .side_item ul li{
    width: 48%;
}
.center .side_item li div {
    text-align: center;
    font-weight: 300;
    font-size: 3vw;
    line-height: 1.6;
}
.center .side_item li div span {
    font-weight: 600;
    font-size: 4vw;
    letter-spacing: -1px;
    display: block;
}



.center .subtab{
    display: flex;
}
.center .subtab .line_on{
    color: #E30613;
    border-bottom: 3px solid #E30613;
    background-color: #fff;
}

.center .subtab li{
    cursor: pointer;
    width: 25%;
    height: 10vw;
    background-color: #fff;
    font-weight: 400;
    font-size: 3vw;
    letter-spacing: -1px;
    text-align: center;
    padding-top: 3vw;
    box-sizing: border-box;
    border-bottom: none;
}


.center .subpage .sub1 div:first-child {
    text-align: center;
    margin: 25vw 0 4vw;
}

.center .subpage .sub1>div:first-child>img {
    display: block;
    margin: 0 auto;
    padding-bottom: 7vw;
    width: 70%;
}
.center .subpage .sub1>div img {
    display: block;
    padding-bottom: 0;
}
.center .subpage .sub1 div:first-child>p {
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 1.6;
    font-family: 'Nanum Myeongjo';
    letter-spacing: -1px;
}


.center .subpage .sub2 p {
    text-align: center;
    font-family: 'Nanum Myeongjo';
    margin: 20vw 0 8vw;
    font-weight: 100;
    font-size: 3.5vw;
    line-height: 1.6;
}
.center .subpage .sub2 p span {
    display: block;
    font-size: 7vw;
    font-weight: 100;
    color: #E30613;
    margin-bottom: 2.5vw;
}

.center .subpage .sub2 img {
    margin: 0 auto;
    display: block;
    width: 92%;
}

.center .subpage .sub3 div:first-child {
    border-right: 1px solid #E30613;
    width: 0.1%;
    height: 17vw;
    margin: 0 auto;
    margin-top: 20vw;
}

.center .subpage .sub3 p {
    font-size: 7vw;
    font-weight: 100;
    font-family: 'Nanum Myeongjo';
    color: #E30613;
    text-align: center;
    padding: 4vw 0 6vw;
}
.center .subpage .sub3 ul:nth-of-type(2) li{
    margin-bottom: 4vw;
}

.center .subpage .sub4>p:first-child {
    font-size: 7vw;
    font-weight: 100;
    font-family: 'Nanum Myeongjo';
    color: #E30613;
    text-align: center;
    margin: 25vw 0 10vw;
}
.center .subpage .sub4>p:nth-of-type(2) {
    margin-top: 0;
}
.sub4 p.mo_sub4 img{
    width: 98%;
}

.center .subpage .sub6 p {
    font-size: 7vw;
    font-weight: 100;
    font-family: 'Nanum Myeongjo';
    color: #E30613;
    text-align: center;
    margin: 25vw 0 10vw;
}
.center .subpage .sub6 ul{
    position: static;
    height: auto;
}
.center .subpage .sub6 ul.mo_sub_product {
    padding: 0;
}
.center .subpage .sub6 .ul.mo_sub_product li img{
    display: block;
}

.center>.subpage>.sub6 ul>li:nth-of-type(2n) {
    align-self: stretch;
}

.center .subpage .sub6 ul li:nth-of-type(2) {
    position: static;
}

.center .subpage .sub6 ul li:nth-of-type(3) {
    position: static;
}

.center .subpage .sub6 ul li:nth-of-type(4) {
    position: static;
}

.center .subpage .sub7 {
    text-align: center;
}

.center .subpage .sub7>div {
    display: block;
    padding: 0;
    font-weight: 300;
}

.center .subpage .sub7>p:first-child {
    font-size: 5vw;
    margin: 20vw 0 7vw;
}

.center .subpage .sub7 div div p {
    font-size: 4vw;
    padding-bottom: 3vw;
}
.center .subpage .sub7 div div img.mo_sub7_25ml{
    display: block;
    margin: 0 auto;
    width: 92%;
}
.center .subpage .sub7 div>div:nth-of-type(2) p {
    font-size: 4vw;
    padding-bottom: 2vw;
    padding: 10vw 0 3vw;
}
.center .subpage .sub7 div>div:nth-of-type(2) img.mo_sub7_50ml{
    display: block;
    margin: 0 auto;
    width: 40%;
}
.center .subpage .sub7 p:nth-child(3) {
    text-align: left;
    font-weight: 300;
    line-height: 1.6;
    font-size: 3vw;
    padding: 0;
    margin: 6vw 4% 20vw 4%;
}

.center .subpage .sub8 {
    background-color: #f5f5f5;
    width: 100%;
    height: 67vw;
    text-align: center;
    margin-bottom: 15vw;
    /* padding-bottom: 3vw; */
}

.center .subpage .sub8 p:first-child {
    padding: 5vw 0;
    font-size: 5vw;
    color: #E30613;
    font-weight: 500;
    letter-spacing: -1px;
}

.center .subpage .sub8 p:nth-of-type(2) {
    width: 80%;
    font-weight: 300;
    text-align: left;
    padding-left: 0;
    margin: 0 auto;
    font-size: 3vw;
}

.center .subpage .mo_sub9 {
    border-collapse: collapse;
    text-align: left;
    font-weight: 100;
    font-size: 2.8vw;
    margin-bottom: 15vw;
    margin: 0 4%;
    margin-bottom: 15vw;
}

.center .subpage .mo_sub9 th {
    font-weight: 400;
    color: #363636;
    background-color: #f5f5f5;
}

.center .subpage .mo_sub9 td {
    color: #000;
}

.center .subpage .mo_sub9 th,
td {
    margin-left: -1px;
    border: 1px solid #c4c4c4;
    width: 50%;
    height: 9vw;
    padding-left:3%;
} 


/* footer */
footer {
    border-top: none;
    min-width: 100%;
    color: #5a5a5a;
    font-weight: 300;
    font-size: 2.6vw;
    padding-bottom: 8vw;
}
footer .line {
    border-top: none;
    border-bottom: none;
}
footer .center {
    padding: 0;
    width: 100%;
}
footer .line .center {
    background-color: #f4f4f4;
}
footer .line nav ul {
    padding: 3.5vw 7%;
    text-align: center;
    display: flex;
    justify-content: center;
}
footer .line nav li {
    padding-right: 3%;
    border-right: 1px solid #5a5a5a;
    margin-right: 3%;
    line-height: 1;
}
footer .line nav li:nth-of-type(5) {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
    line-height: 1;
}



footer .adr_mo{
    display: flex;
    justify-content: space-between;
    padding: 6.5vw 6% 0;
    font-size: 2.0vw;
}
footer .adr_mo>ul{
    width: 40%;
}
footer .adr_mo div{
    width: 60%;
    font-size: 2vw;
}
footer .adr_mo div div{
    width: 50%;
}
footer .adr_mo div div ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 1.5vw;
}
footer .adr_mo div div ul li{
    width: 45%;
}
footer .adr_mo>ul li:last-child{
    font-weight: 500;
    font-size: 3vw;
    color: #262626;
    letter-spacing: -1px;
}